[user]
  name = Nate McCurdy
  email = nate.mccurdy@puppet.com
  signingkey = ECE358B2

[alias]
  co = checkout
  ec = config --global -e
  cob = checkout -b
  cm = !git add -A && git commit -m
  hist = log --pretty=format:'%C(dim cyan)%G?%C(reset) %C(yellow)%h%C(reset) - %C(green)(%cr)%C(reset) %C(bold white)%an%C(reset) %s %C(bold blue)%d%C(reset)' --graph --date-order --date=relative --abbrev-commit
  unstage = reset HEAD --
  cp = cherry-pick
  update = pull --rebase

[push]
  default = simple

[color]
  ui = auto

[core]
  whitespace = trailing-space,space-before-tab
  editor = vim

[init]
  templatedir = ~/.git_template

