[user]
  name = Nate McCurdy
  email = mccurdy.nate@gmail.com
  signingkey = 3D9B2D32

[alias]
  aliases   = config --get-regexp ^alias\\.
  cm        = !git add -A && git commit -m
  co        = checkout
  co-latest-tag = !git checkout $(git tag --list | tail -n 1)
  cob       = checkout -b
  cp        = cherry-pick
  ec        = config --global -e
  hash      = rev-parse HEAD
  hist      = log --pretty=format:'%C(dim cyan)%G?%C(reset) %C(yellow)%h%C(reset) - %C(green)(%cr)%C(reset) %C(cyan)%an%C(reset) %s %C(bold blue)%d%C(reset)' --graph --date-order
  hista     = log --pretty=format:'%C(dim cyan)%G?%C(reset) %C(yellow)%h%C(reset) - %C(green)(%cr)%C(reset) %C(cyan)%an%C(reset) %s %C(bold blue)%d%C(reset)' --graph --date-order --all
  hist-iso  = log --pretty=format:'%C(dim cyan)%G?%C(reset) %C(yellow)%h%C(reset) - %C(green)(%ci)%C(reset) %C(cyan)%an%C(reset) %s %C(bold blue)%d%C(reset)' --graph --date-order
  prune     = fetch --all --prune
  stash-all = stash save --include-untracked
  unstage   = reset HEAD --
  update    = pull --rebase

[push]
  default = simple
  followTags = true

[color]
  ui = auto

[core]
  whitespace = trailing-space,space-before-tab
  editor = nvim
  excludesfile = ~/.gitignore

[init]
  templatedir = ~/.git_template

[commit]
  verbose = true

[merge]
  ff = only

[fetch]
  prune = true

[branch]
  autosetuprebase = always
